/*Assets*/
*{
    font-family: Arial;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;

}

hr{
     border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 30px;
}
a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.loader-container
{
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(to bottom, rgb(90, 90, 90), rgb(33, 34, 36));
}

@import 'compass/css3';
*,
*:before,
*:after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#outline-container
{
    margin-top: -60px;
}
#outline
{
    animation: anim 1.6s linear infinite;

    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: 0;
}
@keyframes anim
{
    12.5%
    {
        stroke-dasharray: 33.98873px, 242.77666px;
        stroke-dashoffset: -26.70543px;
    }
    43.75%
    {
        stroke-dasharray: 84.97183px, 242.77666px;
        stroke-dashoffset: -84.97183px;
    }
    100%
    {
        stroke-dasharray: 2.42777px, 242.77666px;
        stroke-dashoffset: -240.34889px;
    }
}

.check-out
{
    font-size: 2rem;

    position: absolute;
    bottom: .5rem;
    left: 50%;

    transform: translateX(-50%);

    color: #fff;
}


.section svg {
  width: 100%;
  height: 100%;
}

.section #pulsar{
  stroke-dasharray:281;
  -webkit-animation: dash 2.5s infinite linear forwards;
}

@keyframes dash{ from{stroke-dashoffset:814;} to {stroke-dashoffset:-814;}}

.controller-section{
  position: fixed;
  top: 100vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: linear-gradient(to bottom, rgb(90, 90, 90), rgb(33, 34, 36));
}
#controllerContent{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;
}

/*Main Contents*/
.header
{
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
    line-height: 15pt;

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100vw;
    height: auto;
    padding: 20px 0;

    text-align: center;
    letter-spacing: .5pt;
    text-transform: uppercase;

    color: rgb(182, 182, 182);
    background: rgb(96, 96, 96);
}
.section-container
{
    position: fixed;
    top: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(to bottom, rgb(90, 90, 90), rgb(33, 34, 36));
}
.section
{
    width: 100vw;
    height: auto;
    margin-top: 90px;
    margin-bottom: 150px;
    padding: 0px 50px; 
}

.navbar a
{
    position: fixed;
    bottom: 60px;

    float: left;

    width: 16.667vw;
    height: 60px;

    transition: all .3s ease-in-out;

    border-top: 1px solid rgb(100, 100, 100);
    background: rgb(37,38,39);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
    z-index: 3;
    padding: 17.49px 5vw;

}
.navbar a svg{
    width: 6.6668vw;
    height: 6.6668vw;
}
/*navbar childs*/
.navbar a:nth-child(1)
{
    left: 0vw;

    
}

.navbar a:nth-child(2)
{
    left: 16.667vw;
    
}
.navbar a:nth-child(3)
{
    left: 33.334vw;
    
}
.navbar a:nth-child(4)
{
    left: 50vw;
    
}
.navbar a:nth-child(5)
{
    left: 66.667vw;
    
}
.navbar a:nth-child(6)
{
    left: 83.335vw;
   
}
.navbar a.active{
  border-top: 1px solid orange;
  height: 80px;
}
.navbar a.active svg path{
  fill: #6E6E6E;
}
.active-bar
{
    font-family: arial;
    font-size: 1em;
    font-weight: 600;
    line-height: 15pt;

    

    width: 100vw;

    letter-spacing: 1pt;
    text-transform: uppercase;

    color: rgb(182, 182, 182);
    background: rgb(33, 34, 36);
}
#openController{
    position: fixed;
    z-index: 3;
    bottom: 0vh;
    left: 0vh;
}
.active-bar a
{
    font-size: 1em;
    line-height: 15pt;

    float: left;

    padding: 20px 1vw;
}
.active-bar a:nth-child(1)
{
    width: 16.667vw;
    height: 60px;
    padding: 0;

    background-image: url(../img/svg/upB.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}
.active-bar a:nth-child(2)
{
    overflow: hidden;

    max-width: 50vw;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.active-bar a:nth-child(3)
{
    max-width: 33.33vw;
    padding-left: 2vw;
}
#closeController{
    position: absolute;
    height: 60px;
    z-index: 4;
}
#closeController a:nth-child(1){
    background-image: url(../img/svg/downB.svg);
}
#showHeader{
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 3;
    background: transparent;
}
.bounding-box
{
    font-size: .5333em;
    line-height: 8px;

    width: auto;
    padding: 4px 8px;

    letter-spacing: .5pt;

    color: rgb(117, 117, 117);
    border-radius: 8px;
    background: black;
}

/*Home*/
.slideshow-container{
    width: 100%;
    height: 200px;
}
.slide{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slide img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.slide .slide-content{
    position: relative;
    top: -100%;
    width: 100%;
    height: 95%;
}
#slide1 .slide-content{
    background-image: url(../img/png/arduino5.png);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 50% auto;
}
#appName{
    position: absolute;
    top: 60%;
    font-size: 20pt;
    text-align:  center;
    left: 30%;
    width: 40%;
    letter-spacing: 15pt;
    font-weight: 900;
    font-family: arial;
    color: black;
    opacity: 0.3;
}
.list-container{
    width: 100%;
    height: auto;
    margin: 30px 0px;
}
.list-container .list{
    width: 100%;
    height: 50px;
    background:rgba(150,150,150,0.5);
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    padding: 18px 30px;
    font-weight: bold;
    color: rgb(19,19,19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list:active{
    background: #2D2D2D;
    color: white;
}

/*Connect*/
.search-bar{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    outline: none;
    background: rgba(48,48,48,1);
    color: rgb(171,171,171);
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
}

#searchBT:focus{
    box-shadow: 0px 0px 15px #525252;
    color: white;
}
#refreshBT{
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 17px 0px;
    text-align: center;
    color: rgb(82,82,82);
    font-weight: bold;
    letter-spacing: 0.5pt;
    background-image: url(../img/png/refresh.png);
    background-repeat: no-repeat;
    background-position: 30% center;
    background-size: 10%;
    transition: all 0.3s ease-in-out;
}
#refreshBT:active{
    color: white;
}
.BTlist{
    transition: all 0.3s ease-in-out;
}
#disconnectBT{
    display: none;
    height: 50px;
    width: 50%;
    margin-left: 25%;
    font-size: 14px;
    line-height: 14px;
    padding: 18px;
    background: grey;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
#connectedTo{
    display: none;
    width: 100%;
    height: auto;
    font-size: 16px;
    padding:20px 0px;
    text-align: center;
    color: grey;
}
#connectedTo h2{
    color: white;
}
/*Browse*/
.prlist{
    transition: all 0.3s ease-in-out
}

/*Terminal*/
.input-bar{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 50px;
    background: grey;
    left: 0px;
    background: rgb(33,34,36)
}
.data-input{
    width: 70%;
    height: 100%;
    padding: 0px 20px;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
}
.data-submit{
    float: right;
    width: 20%;
    height: 100%;
    padding: 0px 20px;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: none;
    background-image: url(../img/png/send.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    filter: brightness(150%);
    transition: filter 0.1s ease-in-out;
}
.data-submit:active{
    filter: brightness(0%);
}
.data-view{
    margin-top: -90px;
    height: 100vh;
    overflow-y: scroll;
}
.data-view::-webkit-scrollbar{
    width: 0px;
}
.data-view > div:first-child{
    margin-top: 90px;
}
.data-view > div:last-child{
    margin-bottom: 150px;
}
.data-view > div{
    
    display: block;
    width: 50vw;
    padding: 10px;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
    border-radius: 17px;
    
}
.terminal-received{
    text-align: left;
    background: rgba(0,0,0,0.5);
    float: left;
    border-bottom-left-radius: 0px !important;

}
.terminal-sent{
    text-align: right;
    background: black;
    float: right;
    border-bottom-right-radius: 0px !important; 
    
}
.typing{
    opacity: 0;
    background: transparent;
}
.typing svg{    
    width: 6.67vw;
    height: 12vw;
}
.typing  > svg rect {
  fill: #FA9D00;
}
/*roboticcArm*/
.square-controller{
    width: 70vw;
    height: 70vw;
    text-align: center;
    margin: auto;
}
.armLift{
    position: relative;
    width: 25%;
    height: 100%;
    border-right:1px solid grey;
    background: transparent;
    float: left;
    overflow-y: scroll;
}
.force-overflow
{
    min-height: 450px;
}
.armLift::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.9);
}

.armLift::-webkit-scrollbar
{
    width: 100px;
    background-color: rgb(0,0,0,0);
}

.armLift::-webkit-scrollbar-thumb
{
    background-color: #F90; 
}

.armLift:nth-child(1)::-webkit-scrollbar-thumb{
    background: #588c7e;
}
.armLift:nth-child(2)::-webkit-scrollbar-thumb{
    background: #f2e394;
}

.armLift:nth-child(3)::-webkit-scrollbar-thumb{
    background: #f2ae72;
}
.armLift:nth-child(4)::-webkit-scrollbar-thumb{
    background: #d96459;
}
#joystick {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  text-align: center;
  background-color: #80d5ff;
  font: 24px/300px Helvetica, Arial, sans-serif;
  cursor: all-scroll;
  user-select: none;
  z-index: -100;
}
.carControls{
    float: left;
    width: 33.33%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    filter: brightness(150%);
    transition: filter 0.1s ease-in-out;
}
.carControls:active{
    filter: opacity(0.4);
}
.up-left div{
    float: none;
    height: 50%;
    width: 95%;
    background-size:100%;
    background-position: center center;
}
.carControls:nth-child(1){
    background-image: url(../img/png/left.png);
}
.carControls:nth-child(3){
    background-image: url(../img/png/right.png);
}
.up-left{
     float: left;
    width: 33.33%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    filter: brightness(150%);
    transition: filter 0.1s ease-in-out;
}
.up-left > div:nth-child(1){
    background-image: url(../img/png/up.png);
    background-position: center 5%;
}
.up-left > div:nth-child(2){
    background-image: url(../img/png/down.png);
    background-position: center 95%;
}
}
.transparent{
    background: transparent;
}
/*Pr*/
#console{
    position: absolute;
    width: 100vw;
    height: 40px;
    font-size: 15px;
    line-height: 15px;
    bottom: 0px;
    padding: 12.5px 25px;
    background: black;
    margin-left: -50px;
    opacity: 0.5;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.5s linear;
    animation: changeOpacity 2s linear infinite;
    animation-direction:alternate;
}
@keyframes changeOpacity{
    from{
        color: rgba(255,255,255,0.5);
    }
    to{
        color: rgba(255,255,255,1);
    }
    
}
.space-bottom{
    width: 100vw;
    height: 150px;
    opacity: 0;
}